{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "avoid",
	"printWidth": 80,
	"useTabs": true,
	"tabWidth": 2,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-tailwindcss"],
	"jsxSingleQuote": true,
	"singleAttributePerLine": true,
	"experimentalTernaries": true
}
